@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="featured">
    <img src="images/the-beacon.jpg" alt="">
    <div>
        <h2>Lorem ipsum dolor sit amet</h2>
        <span>consectetur adipiscing elit</span>
        <span>sed do eiusmod tempor incididunt</span>
        <span>ut labore et dolore magna aliqua</span>
        <a class="more">dolor sit amet</a>
    </div>
</div>
<ul>
    <li>
        <a href="gallery.html">
            <img src="images/the-father.jpg" alt="">
            <span>Lorem ipsum</span>
        </a>
    </li>
    <li>
        <a href="gallery.html">
            <img src="images/the-actor.jpg" alt="">
            <span>Lorem ipsum</span>
        </a>
    </li>
    <li>
        <a href="gallery.html">
            <img src="images/the-nerd.jpg" alt="">
            <span>Lorem ipsum</span>
        </a>
    </li>
</ul>
